*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  margin: 0;
  box-sizing: border-box;
}
.auth-wrapper {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

ul{
  list-style-type: none;
}

ul.product-list {
  padding-left: 0;
}

.auth-background, .container, .card {
  font-family: 'Figtree', sans-serif;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #bfa58a;
}

.container {
  max-width: 550px;
  width: 100%;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  color: #1f2937;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.step-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.step-circle.active {
   background: #000;
  color: white;
}

.form-group {
  margin-bottom: 2.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 14px;
  color: #374151;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #eff6ff;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #3b82f6;
  outline: none;
}

  /* Email Step Layout */
.email-step {
  margin-bottom: 1.5rem;
}

.email-input-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.email-input-wrapper input {
  flex: 1;
}

.message {
  margin-top: 1rem;
  font-weight: 500;
  color: #10b981;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.email_btn{
  margin-top: 40px;
  gap: 20px;
  display: flex;
}

.prev-btn,
.btn-group button {
  padding: 0.6rem 1.6rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
}

  .prev-btn {
    background: #6c757d;
    color: white;
    transition: background-color 0.2s ease-in-out;
  }





  .btn-group button:not(.prev-btn) {
    background: #000;
    color: white;
    transition: background-color 0.2s ease-in-out;
  }

  .auth-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
  }

  .auth-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }



  .steps {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }




  .step-circle.completed {
    background-color: #000;
    color: white;
  }

  .form-group {
    margin-bottom: 20px;
  }


  input,
  textarea {
    font-size: 1.3rem;
    padding:15px 10px;
    border: none;
    border-bottom: 1px solid #888;
    background: transparent;
    color: #5a5a5a;
    outline: none;
    max-width: 420px;
    resize: none;
    font-family: inherit;
    width: 100%;
    max-width: 100%;
  }


  .upload_image{
    font-size: 16px;
  }

  .email-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .otp-btn:disabled {
    background-color: #ccc;
  }

  .message {
    text-align: center;
    color: red;
    margin-top: 10px;
  }


  .prev-btn, button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }


  .success-msg {
    color: green;
    font-weight: 500;
    margin-top: 10px;
  }


  /* Authentication.css */
  .email-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  .email-input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .message.success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
  }

  .message.info {
    background-color: #e3f2fd;
    color: #1565c0;
    border: 1px solid #90caf9;
  }

  .message.error {
    background-color: #ffebee;
    color: #d32f2f;
    border: 1px solid #ef9a9a;
  }

  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .completion-screen {
    text-align: center;
    padding: 20px;
  }

  .home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    /* transition: background 0.3s; */
  }


  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }


  img.image-preview {
    height: 100%;
    width: 100%;
  }
  .image-upload {
      margin-bottom: 14px;
  }
  .error {
    color: red;
    font-size: 1rem;  
    margin-top: 10px;  
    display: flex;
    align-items: center;
  }



  .info-message {
    color: #007bff;
    font-size: 16px;
    margin-top: 8px;
  }

  .success-message {
    color: green;
    font-size: 16px;
    margin-top: 8px;
  }

  .message-box {
    margin-top: 12px;
  }









  /* Step indicators horizontally aligned */
  .steps-indicator {
    display: flex;
    gap: 12px;
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  .step-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(255 255 255 / 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #6f5b40;
    cursor: default;
    user-select: none;
    transition: all 0.3s ease;
  }

  .step-circle.active {
    background-color: white;
    color: #b89b7b;
    font-weight: 700;
    cursor: default;
  }

  .step-circle.completed {
    background-color: #6f5b40;
    color: white;
    cursor: pointer;
  }

  /* Steps container */
  .steps-content {
    flex: 1;
    position: relative;
  }

  /* Each step occupies full viewport height */
  .step-section {
    scroll-snap-align: start;
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.4s ease;
  }


  .auth-wrapper input::placeholder,
  .auth-wrapper textarea::placeholder {
    color: #9E8C77;
        font-size: 26px;

  }

  textarea {
    min-height: 100px;
  }


  .sku-suggestions ul,
  .product-list {
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.product-item.selected {
    background-color: #6f5b4033;
    color: white;
  }
  .product-item span {
    font-size: 16px;
  }

.otp-btn,
  .nav-btn,
  .submit-btn {
    padding: 0.7rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }

  .otp-btn {
    background-color: #6f5b40;
    color: white;
  }

  .nav-btn {
    background-color: #b89b7b;
    color: white;
    margin-right: 1rem;
  }


  .submit-btn {
    background-color: #4a4a4a;
    color: white;
  }


  .info-message {
    margin-top: 0.5rem;
    font-weight: 500;
    color: #3a3a3a;
  }

  .verified-msg {
    margin-top: 0.5rem;
    font-weight: 700;
    color: #28a745;
  }

  .already-logged {
    margin-top: 0.5rem;
    font-weight: 600;
    color: #0056b3;
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
  }

  /* Thank you step */


  .thank-you h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .thank-you p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #4a4a4a;
  }

  .complete-link {
    padding: 0.7rem 1.2rem;
    background-color: #6f5b40;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
  }


  /* Slide up animation for active step */





  .right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }



  .logo-text {
    background-color: #bfa58a;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 25px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .startpage-background .logo-text{
    width: auto;
  }

  .step-section.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 👈 this fixes the vertical alignment */
    width: 100%;
    animation: slideUp 0.6s ease forwards;
    padding-top: 30px; /* optional: gives breathing space from top */
  }



  input.styled-input::placeholder {
      color: #9E8C77;
      font-size: 26px;
  }





  .step-number {
    margin-right: 10px;
    font-weight: bold;
  }
  .step_number_main {
    position: absolute;
    inset-inline-end: 100%;
    margin-right: 14px;
    display: flex;
    align-items: center;
  }

  input.styled-input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
    color: #333;
    margin-bottom: 1rem;
  }


  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



  .step-label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .step-description {
    font-size: 18px;
    color: rgba(69, 56, 52, 0.7);
    line-height: 1.4;
  }
  .ok-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }

  .ok-button {
    display: inline-block;
    background-color: #fdf6ec;
    color: #453834;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }



  .enter-text {
    font-size: 0.9em;
    color: #333;
    display: inline-block;
  }
  .enter_tips_btn{
    margin-left: 16px;;
  }

  .enter-key {
    font-weight: bold;
  }

  .error {
    color: red;
    margin-top: 0.5rem;
  }




  .nav-btn, .submit-btn {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }



  .info-message, .verified-msg, .already-logged {
    margin-top: 0.5rem;
  }

  .info-message {
    color: #3a3a3a;
  }

  .verified-msg {
    color: #28a745;
    font-weight: bold;
  }

  .already-logged {
    color: #0056b3;
    font-weight: bold;
  }



  .product-list {
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
  }

  .product-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    color: #4a4a4a;
    transition: background-color 0.3s ease;
  }

  .product-item:hover {
    background-color: #a9927340;
  }



  .otp-btn, .signout-btn, .nav-btn, .submit-btn {
    padding: 0.7rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }

  .otp-btn {
    background-color: #6f5b40;
    color: white;
  }



  .signout-btn:hover {
    background-color: #1e7e34;
  }

  .nav-btn {
    background-color: #b89b7b;
    color: white;
    margin-right: 1rem;
  }

  .nav-btn:hover {
    background-color: #8f6a4e;
  }

  .submit-btn {
    background-color: #4a4a4a;
    color: white;
  }



  .thank-you {
    flex-direction: column;
    align-items: flex-start;
  }



  .complete-link {
    padding: 0.7rem 1.2rem;
    background-color: #6f5b40;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
  }

  .complete-link:hover {
    background-color: #4e3f2d;
  }


  .country-code-select {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    color: #333;
    cursor: pointer;
  }

  .country-code-select option {
    background-color: #fff;
    color: #000;
  }

  .styled-phone-input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 10px 0;
    color: #333;
    outline: none;
  }

  .styled-phone-input::placeholder {
    color: black;
  }

  .ok-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }




  .country-dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #999;
    padding: 8px;
    cursor: pointer;
  }

  .flag {
    width: 24px;
    height: 16px;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c7a788;
    border: 1px solid #999;
    width: 300px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 100;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #999;
  }

  .dropdown-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
  }

  .dropdown-list li:hover {
    background-color: #a9927340;
  }
  /* Address Step Specific Styling */
  .address-step {
    padding: 20px 0;
  }
  input.search_product_input {
      max-width: 100%;
  }

  .address-step p {
    font-size: 18px;
    color: #4d3d33;
    margin-bottom: 20px;
  }

  .address-step label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .address-step input, 
  .address-step textarea {
    width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #4d3d33;
    background-color: transparent;
    padding: 14px 0;
    margin-bottom: 15px;
    color: #4d3d33;
  }

  .upload_image_span{
    font-size: 16px;
  }

  .address-step input::placeholder,
  .address-step textarea::placeholder {
    color: #b09070;
  }

  .address-step textarea {
    resize: none;
    height: 60px; /* Adjust height as needed */
  }

  .address-step .error {
    color: red;
    font-size: 14px;
  }


  .submission_container{
    width: 100%;
    max-width: 720px !important;
    text-align: center;
  }

  .submisiion_headding {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 20px;
  }
  .submission_button{
        background-color: #fff;
      color: #453834;
      text-decoration: none;
      padding: 14px 18px;
      display: inline-block;
      font-size: 24px;
      margin-top: 34px;
      font-weight: bold;
  }
  .submission_pera{
        font-size: 20px;
      color: rgba(69, 56, 52, 0.7)
  }

  .submisiion_button a{
    font-size: 26px;
  }

  .startpage-button{
    color: #453534;
  }

  .startpage-background {
    background-color: rgb(191, 165, 138);
  }
  .startpage-subtitle{
    color: rgba(69, 56, 52, 0.7);
  }
  /* Set placeholder font-size to 16px globally */
  .auth-wrapper input::placeholder,
  .auth-wrapper textarea::placeholder {
    font-size: 20px !important;
  }
  .image-upload .address-step {
      padding: 0;
  }

  .submit_btn {
      background-color: #f4e1c1 !important;
      color: #453834 !important;
      font-weight: bold;
  }
.search_prdouct_headding{
  margin: 10px 0 15px;
}
.category_headding{
   margin-top: 30px;
}
.subheadding_product {
    position: absolute;
    left: -22px;
}


  @media(max-width:768px){
    .step-section.active {
    
      padding-top: 40px;
  }
  input.styled-input {
        margin-top: 10px;
    }
.already-logged, .info-message, .verified-msg {
    margin-top: 1rem;
}
.auth-wrapper input::placeholder, .auth-wrapper textarea::placeholder {
    font-size: 18px !important;
}


  
    .startpage-title {
      margin-bottom: 1rem;
    }
    .startpage-subtitle {
      font-size: 18px;
    }
    .step-number {
      margin-right: 3px;
      font-size: 18px; 
    }
    .phone-input-wrapper,
    .right-side {
      max-width: 100% !important; 
    }
    .auth-wrapper {
      padding: 60px;
    }
    
    .step_number_main {
      margin-right: 22px;
    }
        

 


  .submisiion_headding {
      font-size:24px;
  }
  .submission_pera,
  .submission_button{
      
      font-size: 18px;
    }
    .btn-group {
      justify-content: space-between;
      margin-top: 16PX;
  } 
  .address-step p,
  .upload_image_span{
    font-size: 16px;
  }
  }


  @media(max-width:600px){
        .auth-wrapper {
          padding: 44px;
      }

  }


  @media(max-width:375px){
    .auth-wrapper {
          padding: 30px;
      }
    
    .step-number {
      margin-right: 4px;
      font-size: 18px;
    }
    .step_number_main svg {
      width: 13px;
      line-height: 12px;
      display: flex

    } 
    .step-label {
      font-size: 1.2rem;
    }
  
    .step_number_main {
      gap: 4px;
    }
    .step-label {
    
      margin-bottom: 0.6rem;
  }
  .step-description {
    font-size: 16px;
  }
  input.styled-input {
  
    margin-bottom: 0rem;
  }

  .startpage-title {
    font-size: 25px;
    
  }
  .startpage-subtitle {
    font-size: 18px;
    margin-bottom: 0.6rem;
  }
  input.styled-input {
    padding: 10px 10px;
    
  }
  .prev-btn, .btn-group button {
    padding: 0.5rem 1.2rem;
    
  }
      .step_number_main {
          margin-right: 10px;
      }

  .enter_tips_btn {
      margin-top: 12px;
  }

  .prev-btn, button {
    
      padding: 9px 16px;
  }






  }

  @media(max-width:320px){
  
    .address-step label {
      font-size: 16px;
    }
    .auth-wrapper input::placeholder, .auth-wrapper textarea::placeholder {
      font-size: 18px !important; 
    }
    .address-step input, .address-step textarea {
      padding: 10px 0;
      margin-bottom: 15px;
    }

    .address-step label {
      margin-bottom: 0;
    }
    .prev-btn:hover, button:hover {
    background-color: #000;
  }

  }


  @media (min-width:769px){
    .prev-btn, .btn-group button:hover,
  .btn-group button:not(.prev-btn):hover {
    background-color: #ccc;
    color: #000;
  }
  .submit_btn:hover{
    background-color: #000 !important;
    color: #fff !important;
  }
  .ok-button:hover {
    background-color: #f0e6d2;
  }
  .prev-btn:hover {
    background: #4b5563;
  }
  .home-link:hover {
    background: #1565c0;
  }
  .otp-btn:hover {
    background-color: #4e3f2d;
  }

  .nav-btn:hover {
    background-color: #8f6a4e;
  }
  .complete-link:hover {
    background-color: #4e3f2d;
  }




  }











  

  .address-autocomplete-wrapper {
  position: relative;
  font-size: 16px;
}

.address-autocomplete-wrapper .address-input-container {
  position: relative;
}

.address-autocomplete-wrapper .suggestion-box {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 4px;
  max-height: 240px;
  overflow-y: auto;
  font-size: 14px;
}

.address-autocomplete-wrapper .suggestion-header {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  font-size: 14px;
}

.address-autocomplete-wrapper .close-suggestions {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #888;
}

.address-autocomplete-wrapper .suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address-autocomplete-wrapper .suggestion-item {
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.address-autocomplete-wrapper .suggestion-item:hover {
  background-color: #f5f5f5;
}
.no-image {
  width: 60px;
  height: 60px;
  background-color: #f3f3f3;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 4px;
}
.custom-select {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  padding: 0.75rem 1rem;
  padding-right: 2.5rem; /* Extra space for dropdown arrow */
  font-size: 1rem;
  color: #1f2937; /* gray-800 */
  background-color: transparent;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23000'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center; /* controls arrow spacing */
  background-size: 1.25rem 1.25rem;
  border: 0;
  border-bottom: 1px solid #999;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selected-box {
  margin: 16px 0;
  padding: 12px;
  background: #fffaf3;
  border: 1px solid #e1d8c8;
  border-radius: 8px;
}

.selected-heading {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #222;
}



.selected-sku-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.sku-thumbnail {
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.sku-product-title {
  font-size: 14px;
  color: #333;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sku-remove-btn {
    background: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.sku-suggestions ul {
    max-height: 300px;
    overflow-y: auto;
}

.sku-suggestions li{
  cursor: pointer;
}






.selected-box {
  margin-top: 16px;
  background: #f9f9f9;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.selected-heading {
  margin-bottom: 8px;
  font-weight: 600;
}


.selected-sku-card,
.selected-category-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 6px;
  gap: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sku-thumbnail,
.category-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}


.selected-box .prev-btn, button {
    padding: 8px 12px;
   
}